doctype html
html
  head
    title My Blog
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Blog Posts
    each post in posts
      div
        h2= post.title
        p= post.date
        p= post.content
        a(href=`/api/posts/${post.id}`) View

form(action="/api/posts", method="POST")
  label(for="userId") User ID:
  input(type="number" name="userId" required)

  label(for="date") Date:
  input(type="date" name="date" required)

  label(for="title") Title:
  input(type="text" name="title" required)

  label(for="content") Content:
  textarea(name="content" required)

  button(type="submit") Create Post
